asgiref
astroid
beautifulsoup4==4.9.3
brotlipy==0.7.0
bs4==0.0.1
certifi==2020.12.5
cffi
colorama
cryptography
cycler==0.10.0
Django
idna
isort
lazy-object-proxy
matplotlib==2.1.0rc1
mccabe==0.6.1
numpy==1.16.4
pandas==0.24.2
psycopg2
pycparser
pylint
pyOpenSSL
pyparsing==2.2.0
PySocks
python-dateutil==2.6.1
pytz==2017.2
scikit-learn==0.19.0
scipy==1.0.0rc1
selenium==3.141.0
six==1.11.0
soupsieve==2.1
sqlparse
toml
typed-ast
urllib3
win-inet-pton
wincertstore==0.2
wrapt==1.11.2
gunicorn
daphne
