{% extends "webui/base.html" %}
{% block content %}
    <div class="container">
        <h1>Availability for {{request.date}} for {{request.num_nights}} night(s)</h1>
    </div>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <th>Park</th>
                <th>Facility</th>
                <th>Type</th>
                <th>Status</th>
            </thead>
            <tbody>
                {% for result in results %}
                    {% if 'Available' in result.park_status or 'Low Availability' in result.park_status %}
                        <tr class = {{ result.class }}>
                            <td>{{ result.park_name }}</td>
                            <td>{{ result.park_facility }}</td>
                            <td>{{ result.park_type }}</td>
                            <td>{{ result.park_status }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- {% for result in results %}
        {% if 'Available' in result.park_status or 'Low Availability' in result.park_status %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ result.park_status }}</a>
                </div>
                <h2><a class="article-title" href="#">{{ result.park_name }}</a></h2>
                <p class="article-content">Park facility: {{ result.park_facility }}</p>
                <p class="article-content">Park type: {{ result.park_type }}</p>
            </div>
        </article>
        {% endif %}
    {% endfor %} -->

{% endblock content %}